<script>

	let themeClassic = {
		modal: {
			borderRadius: '10',
			background: '#ffffff',
			font: '#333333'
		},
		title: {
			text: 'Личный кабинет',
		}
	}

	let themeDark = {
		modal: {
			borderRadius: '10',
			background: '#000000',
			font: '#ffffff'
		},
		title: {
			text: 'Личный кабинет',
		}
	}

	let themeGreen = {
		modal: {
			borderRadius: '10',
			background: '#54C152',
			font: '#ffffff'
		},
		title: {
			text: 'Личный кабинет',
		}
	}

	let theme = themeClassic;

	function changeTheme(a) {
		theme = a;
		console.log (a)
	}

</script>


<div class='panel'>

	<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="true">Настройки</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="theme-tab" data-bs-toggle="tab" data-bs-target="#theme" type="button" role="tab" aria-controls="theme" aria-selected="false">Темы</button>
		</li>
	</ul>

	<div class="tab-content" id="myTabContent">

		<div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="settings-tab">

			<div class='mb-3'>
				<label for="modal-title" class="form-label">Заголовок</label>
				<input type='text' class="form-control" id="modal-title" bind:value={theme.title.text}>
			</div>

			<div class='mb-3'>
				<label for="customRange1" class="form-label">Скругленность углов</label>
				<input bind:value={theme.modal.borderRadius} min=0 max=50 type="range" class="form-range" id="customRange1">
			</div>

			<div class='mb-3'>
				<label for="modal-color" class="form-label">Цвет окна</label>
				<input type="color" class="form-control form-control-color" id="modal-color" bind:value={theme.modal.background} title="Choose your color">
			</div>

			<div class='mb-3'>
				<label for="font-color" class="form-label">Цвет шрифта</label>
				<input type="color" class="form-control form-control-color" id="font-color" bind:value={theme.modal.font} title="Choose your color">
			</div>
		</div>

		<div class="tab-pane fade" id="theme" role="tabpanel" aria-labelledby="theme-tab">

			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">Classic</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<button on:click="{() => changeTheme(themeClassic)}" class="btn btn-primary">Выбрать</button>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">Dark</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<button on:click="{() => changeTheme(themeDark)}" class="btn btn-primary">Выбрать</button>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">Green</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<button on:click="{() => changeTheme(themeGreen)}" class="btn btn-primary">Выбрать</button>
				</div>
			</div>


		</div>

	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content" style='background-color:{theme.modal.background}; color:{theme.modal.font}; border-radius: {theme.modal.borderRadius}px; '>
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{theme.title.text}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="row g-3">
					<div class='mb-3 col-12 text-center'>Авторизация через социальные сети</div>

					<div class='social'>
						<a href='#' class='social__item'><img src='static/facebook-logo.svg' alt=''></a>
						<a href='#' class='social__item'><img src='static/vk-social-logotype.svg' alt=''></a>
						<a href='#' class='social__item'><img src='static/odnoklassniki-logo.svg' alt=''></a>
						<a href='#' class='social__item'><img src='static/google-plus-social-logotype.svg' alt=''></a>
					</div>

					<div class='mb-3 col-12'>
						Для авторизации на сайте можете использовать данные своего личного кабинета из последних акций бренда LAY'S®
					</div>

					<div class="mb-3 col-12">
						<label for="login" class="col-form-label">Логин:</label>
						<input type="text" class="form-control" id="login">
					</div>

					<div class="mb-3 col-12">
						<label for="password" class="col-form-label">Пароль:</label>
						<input type="password" class="form-control" id="password">
					</div>

					<div class="mb-3 col-6">
						<div class='form-check'>
							<input type="checkbox" class="form-check-input" id="forgot">
							<label class="form-check-label" for="forgot"> Запомнить меня</label>
						</div>
					</div>

					<div class='mb-3 col-6 text-end'>
						<a href='#'>Забыли пароль?</a>
					</div>

					<div class="mb-3 col-12 text-center">
						<button type="button" class="btn btn-primary">Войти</button>
					</div>

				</form>

				<div class=''>
					Ⓒ 2021 OOO «Фрито Лей Мануфактуринг». ООО «ПепсиКо Холдингс»
					<br>Все права защищены.Телефон горячей линии: 8 (800) 500 77 37.
				</div>

			</div>


		</div>
	</div>
</div>

<style>
    .panel {
				position: fixed;
				left: 0;
				top: 0;
				bottom: 0;
				width: 400px;
				background: #f5f5f5;
				z-index: 10001;
				padding: 20px 20px;
				box-sizing: border-box;
		}
		.social {
				display: flex;
				align-items: center;
				justify-content: center;
		}
		.social__item {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: #f5f5f5;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 10px;
		}
    .social__item img {
				display: block;
				width: 25px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background: #f5f5f5;
        border-color: #dee2e6 #dee2e6 #f5f5f5;
		}
</style>